<!-- footer area start -->
<footer class="footer-area pd-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget widget widget_about">
                    <div class="logo">
                        <img src="" alt="img">
                    </div>
                    <!-- <p class="content"></p>
                    <p><i class="la la-arrow-right"></i><span>230.543 Ürün</span></p>
                    <p><i class="la la-arrow-right"></i><span>655.3060 Kullanıcı</span></p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget widget widget_contact">
                    <h4 class="widget-title"></h4>
                    <div class="media">
                        <div class="thumb">
                            <img src="img/footer/1m.png" alt="img">
                        </div>
                        <div class="media-body">
                            <p>Selçuklu / KONYA</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="thumb mt-0">
                            <img src="img/footer/2m.png" alt="img">
                        </div>
                        <div class="media-body">
                            <p class="m-0">info@mail.com</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="thumb mt-0">
                            <img src="img/footer/3m.png" alt="img">
                        </div>
                        <div class="media-body">
                            <p class="m-0">517-383-6673</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget widget widget widget_products">
                    <h4 class="widget-title">Ürünler</h4>
                    <ul>
                        <li><a href="#">Telefonlar</a></li>
                        <li><a href="#">Aksesuar</a></li>
                        <li><a href="#">Giyim</a></li>
                        <li><a href="#">Kulaklık</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="footer-widget widget widget_newsletter">
                    <h4 class="widget-title">Bize Katılın</h4>
                    <p>Üyelik yaparak aldığınız ürünleri ve sitemizi değerlendirebilirsiniz </p>
                    <div class="single-input-wrap input-group">
                        <input type="text" class="form-control" id="inlineFormInputGroup"
                            placeholder="Email Adresin ">
                    </div>
                    <button class="btn btn-base">Başla</button>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom-->
    <div class="container">
        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <p></p>
                </div>
                <div class="col-lg-6 text-lg-right text-center">
                    <ul class="social-area">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->