    <!-- navbar start -->
    <div class="navbar-area navbar-area-2">
        <nav class="navbar navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#dkt_main_menu" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a class="main-logo" href="index.html"><img src="" alt="img"></a>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <a class="btn btn-base" href="#">GİRİŞ</a>
                </div>
                <div class="collapse navbar-collapse" id="dkt_main_menu">
                    <ul class="navbar-nav menu-open">
                        <!-- <li class="menu-item-has-children current-menu-item">
                            <a href="#">ANASAYFA</a>
                            <ul class="sub-menu">
                                <li><a href="ansayfasitesi.html"></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children current-menu-item">
                            <a href="#">ÜRÜNLER</a>
                            <ul class="sub-menu">
                                <li><a href="product.html">ÜRÜNLER</a></li>
                                <li><a href="product-left-sitebar.html"></a></li>
                                <li><a href="product-right-sitebar.html"></a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children current-menu-item">
                            <a href="#">SAYFALAR</a>
                            <ul class="sub-menu">
                                <li><a href="ürünlersitesi.html">ÜRÜNLER</a></li>
                                <li><a href="product-details.html"></a></li>
                                <li><a href="vendor.html"></a></li>
                                <li><a href="kategorilersitesi.html">KATEGORİ</a></li>
                                <li><a href="faq.html"></a></li>
                                <li><a href="policy.html"></a></li>
                                <li><a href="error.html"></a></li>
                                <li><a href="girişsayfası.html">GİRİŞ</a></li>
                                <li><a href="kayıtol.html">KAYIT OL</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children current-menu-item">
                            <a href=""></a>
                            <ul class="sub-menu">
                                <li><a href="blog.html"></a></li>
                                <li><a href="blog-left-sitebar.html"></a></li>
                                <li><a href="blog-without-sitebar.html"></a></li>
                                <li><a href="blog-details.html"></a></li>
                            </ul>
                        </li> -->
                        <li><a href="kategoriler.html">Kategoriler</a></li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                    <ul>
                        <li><a href="#"><img src="img/icon/2m.png" alt="icon">0 Ürün</a></li>
                        <!-- <li><a class="search" href="#"><img src="img/icon/1b.png" alt="icon"></a></li> -->
                        <li><a href="giris.html" class="btn btn-base text-white">Giriş</a></li>
                        <!-- <li class="menu-bar dropdown-menu-btn"><a href="#"><i class="fa fa-bars"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->