<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Meta & Stylesheet -->
    <%- include('partials/metastylesheet',{title: "UMUTSHOP ALIŞVERİŞ SİTESİ - Giriş" , prePath:"" }) %>
        <style>
            .breadcrumb-area {
                padding: 0 0 0 0 !important;
            }
        </style>
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- search popup start-->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Araa.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- dkt-sitebar-menu end-->

    <!-- dkt-sitebar-menu start-->
    <div class="dkt-sitebar-menu">
        <div class="dkt-sitebar-menu">
            <a class="dkt-sitebar-close" href="#"><i class="fa fa-times"></i></a>
            <div class="dkt-details-inner">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo-3.png" alt="img"></a>
                </div>
                <p class="details"> </p>
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="address-inner mb-0">
                    <h5>Email</h5>
                    <p>umutfilikci123@dmarket.com</p>
                </div>
            </div>
            <div class="dkt-market-earn">
                <div class="address-inner">
                    <h5></h5>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="earn-inner">
                            <p>Ürün Satıldı</p>
                            <h5>12501</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="earn-inner">
                            <p>Toplam Ürün</p>
                            <h5>25804</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dkt-sitebar-menu end-->

    <%- include('partials/header', {prePath:""}) %>

        <!-- breadcrumb start -->
        <div class="breadcrumb-area" style="background: #49009b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner">
                            <div class="section-title text-center">
                                <h2 class="page-title">Giriş Yap</h2>
                                <ul class="page-list">
                                    <li><a href="index.html">Anasayfa</a></li>
                                    <li>Giriş

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- policy-page start -->
        <section class="pd-top-100 pd-bottom-100 bg-sky-blue">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-10 text-center">
                        <div class="sign-in-area">
                            <h2>Hesabınıza Giriş Yapın
                            </h2>
                            <form class="contact-form-wrap">
                                <div class="single-input-wrap input-group">
                                    <label for="inp-0">Kullanıcı Adı</label>
                                    <input id="inp-0" type="text" class="form-control" placeholder="Enter your Name">
                                </div>
                                <div class="single-input-wrap input-group">
                                    <label for="inp-1">Email addresi</label>
                                    <input id="inp-1" type="text" class="form-control"
                                        placeholder="Enter your email address">
                                </div>
                                <div class="single-input-wrap input-group">
                                    <label for="inp-2">Şifre</label>
                                    <input id="inp-2" type="text" class="form-control"
                                        placeholder="Enter your email password">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-12">
                                        <div class="single-category text-left">
                                            <label><input type="checkbox"
                                                    aria-label="Checkbox for following text input">
                                                <span class="checkmark"></span>
                                                Beni Hatırla</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-12 text-sm-right text-left">
                                        <a class="forget-pass" href="#">Şifremi Unuttum</a>
                                    </div>
                                </div>
                                <button class="btn btn-base w-100">Giriş</button>
                                <p></p>
                                <button class="btn btn-g w-100"><i class="fab fa-google"></i></button>
                                <button class="btn btn-f w-100"><i class="fab fa-facebook-f"></i>
                                </button>
                                <p>Henüz hesabın yok mu <a href="register">Kayıt Ol</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- policy-page end -->

        <%- include('partials/footer2') %>

            <!-- back to top area start -->
            <div class="back-to-top">
                <span class="back-top"><i class="fa fa-angle-up"></i></span>
            </div>
            <!-- back to top area end -->


            <!-- all plugins here -->
            <script src="js/vendor.js"></script>
            <!-- main js  -->
            <script src="js/main.js"></script>
</body>

</html>