<!DOCTYPE html>
<html lang="zxx">

<head>

    <%- include('partials/metastylesheet',{title: "UMUTSHOP ALIŞVERİŞ SİTESİ - Kaydol" , prePath:"" }) %>
    <style>
        .breadcrumb-area {
            padding: 0 0 0 0 !important;
        }
    </style>
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- search popup start-->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- dkt-sitebar-menu end-->

    <%- include('partials/header', {prePath:""}) %>

        <!-- breadcrumb start -->
        <div class="breadcrumb-area" style="background: #49009b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner">
                            <div class="section-title text-center">
                                <h2 class="page-title">Kayıt Ol</h2>
                                <ul class="page-list">
                                    <li><a href="index.html">Anasayfa</a></li>
                                    <li>Kayıt Ol</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- policy-page start -->
        <section class="pd-top-100 pd-bottom-100 bg-sky-blue">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-10 text-center">
                        <div class="sign-in-area">
                            <h2>Kayıt İşleminizi Yapın</h2>
                            <form class="contact-form-wrap">
                                <div class="single-input-wrap input-group">
                                    <label for="inp-1">Email address</label>
                                    <input id="inp-1" type="text" class="form-control"
                                        placeholder="Mail Adresinizi Girin">
                                </div>
                                <div class="single-input-wrap input-group">
                                    <label for="inp-2">Şifre</label>
                                    <input id="inp-2" type="text" class="form-control" placeholder="Şifrenizi Girin">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-12">
                                        <div class="single-category text-left">
                                            <label><input type="checkbox"
                                                    aria-label="Checkbox for following text input">
                                                <span class="checkmark"></span>
                                                Beni Hatırla</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-12 text-sm-right text-left">
                                        <a class="forget-pass" href="#">Şifremi Unuttum</a>
                                    </div>
                                </div>
                                <button class="btn btn-base w-100">Kayıt Ol</button>
                                <p>Ya da devam edin</p>
                                <button class="btn btn-g w-100"><i class="fab fa-google"></i>Google Hesabınızla Devam
                                    Edin</button>
                                <button class="btn btn-f w-100"><i class=""></i>
                                </button>
                                <p>Hesabınız Var mı <a href="login">Giriş Yap</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- policy-page end -->

        <%- include('partials/footer2') %>

            <!-- back to top area start -->
            <div class="back-to-top">
                <span class="back-top"><i class="fa fa-angle-up"></i></span>
            </div>
            <!-- back to top area end -->


            <!-- all plugins here -->
            <script src="js/vendor.js"></script>
            <!-- main js  -->
            <script src="js/main.js"></script>
</body>

</html>